<div class="row">
  <div class="col-lg-3">
    <nb-card [size]="'large'" status="primary" style="">
      <nb-card-header>DANH SÁCH ĐỘI BÓNG Ở GIẢI ĐẤU</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let club of clubs">
            {{ club }}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <!-- <button class="button" onclick="alert('OK')">Random</button> -->
    <p>function ...</p>
  </div>
  <div class="col-lg-5"><p>function ...</p></div>

</div>
